x-article-list {
  width: 100%;
}

x-article-list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

x-article-list li {
  display: flex;
  justify-content: space-between;
}


x-article-list p {
  margin: 0;
}

x-article-list h3 {
  font-size: 1rem;
}

x-article-list a {
  flex: 4;
}

x-article-list div {
  flex: 1;
  min-width: 400px;
  white-space: nowrap;
}