@import url('./reset.css');
@import url('./components/header.css');
@import url('./components/article-list.css');
@import url('./components/audio.css');
@import url('./components/interval-table.css');
@import url('./components/cents-table.css');
@import url('./components/controls.css');

html {
  font-size: 24px;
  font-family: Alegreya;
}

body {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1000px;
}

h2 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

figure {
  margin: 1rem 0;
}

figcaption {
  font-style: italic;
  font-size: 0.875rem;
}

.quote {
  margin: 2rem;
}

.quote>blockquote {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

blockquote {
  font-style: italic;
}

.details {
  margin: 1rem 0;
}

.details div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  p {
    margin: 0.125rem 0;
    white-space: nowrap;
  }

  > :first-child {
    font-weight: bold;
  }
}